/* this is for global settings */
* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    border-radius: 10px;
}

/* this is for header section settings */
header, footer {
    background-color: gray;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 15px;
}

/* this is for navagation section settings */
div {
    background-color: black;
}

/* this is for navagation and unordered list section settings */
div ul {
    justify-content: space-around;
    list-style: none;
}

/* this is for navagation, unordered list and list section settings */
div ul li {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}