/* this is for my small view of the site 900px or smaller for viewport */
/* start of the whole page*/
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background: blue;
    color: yellow;
    padding: 1rem;
}

.hero {
    width: 100%;
    flex: 0 0 auto;
}

.hero img {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}

.content, .weather-card {
    background: white;
    color: black;
    padding: 1rem;
    border-radius: 8px;
    width: 100%;
    max-width: 100% 0;
    margin: 0 auto;
    box-shadow: 0 2px 8px black;}

.content h2 {
    text-align: center;
    margin-top: 0;
}

.content h2,
.weather-card h2 {
    margin-bottom: .5rem;
}

.data-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.data-list li {
    display: flex;
    justify-content: flex-start;
    margin: 0.3rem 0;
}

.data-list .label {
    font-weight: bold;
    width: 140px;
    text-align: right;
    margin-right: 1rem;
}

.weather-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.weather-list li {
    display: flex;
    justify-content: flex-start;
    margin: 0.3rem 0;
}

.weather-list .label {
    font-weight: bold;
    width: 140px;
    text-align: right;
    margin-right: 1rem;
}

footer {
    background-color: blue;
    color: yellow;
}